/* --------------------------------------------------------------- */
/* COSAS GENERALES DE LA PÁGINA */
:root{ /* Declaramos variables de colores para el tema claro */
    /* Tema claro */
    --color-principal: #395b50; /* Color del fondo del header y footer y titulos, letras... */
    --color-secundario: #92afd7; /* Color del fondo del main */
    --color-terciario: #c5d1eb; /* Color de los enlaces del header y footer */
}
/*
:root{
     Dark Mode
    --color-principal: #0d0d0d;
    --color-secundario: #505050;
    --color-terciario: #4d4d4d;
*/

*{ /* Se aplica a la pagina entera */
    box-sizing: border-box; /* width y height incluyen el contenido, los bordes y los márgenes internos.
                            Los bordes y el relleno se restan del tamaño total que especifiques, no se suman. */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%; /* Asegura que el html y el body ocupen el alto de la ventana */
}
main {
    flex-grow: 1; /* Permite que el main ocupe el espacio disponible */
    padding-bottom: 3rem; /* Para solucionar el espacio entre el formulario y el footer */
}
a{
    text-decoration: none; /* Quitamos el estilo predeterminado de todos los links de la página */
    color: unset; /* Dejamos el color indefinido para definirlo después como queramos */
    transition: all ease 0.5s; /* Transición cuando se deja de posicionar el cursor encima del enlace */
}
a:hover{
    color: white;
    transition: all ease 0.5s; /* Transición cuando se posiciona el cursor encima del enlace */
    opacity: 1.4; /* Aumentamos la opacidad */
}
img{
    cursor: pointer;
}
/* --------------------------------------------------------------- */
/* HEADER GENÉRICO */
header{
    width: 100%;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}
header .logo{
    width: 3.5rem;
    height: 3.5rem;
}
.icono_perfil{
    width: 2rem;
    height: 2rem;
}
.icono_perfil:hover{
    cursor: pointer;
    opacity: 0.8;
}
.menu a{
    margin: 1.5rem; /* Añadir espacio entre enlaces del header */
}
.menu{
    list-style-type: none; /* Elimina el punto del <li> */
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ------------------------------------------------------------------ */

/* FOOTER GENERICO */
footer{
    width: 100%;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    display: flex;
    flex-direction: column; /* Para que al centrar el contenido se centren los elementos del footer en medio de la pantalla */
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style-type: none; /* Elimina el punto del <li> */
    margin: 2.5rem; /* Le damos espacio a los enlaces y textos del footer alrededor de la página */
}
footer a{
    margin: 3rem;
}

/* ------------------------------------------------------------------ */
/* MAIN GENÉRICO */
main{
    width: 100%;
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

/* ------------------------------------------------------------------ */
/* BARRA DE BÚSQUEDA (FORMULARIO) */
.barra_busqueda{
    display: flex;
}
.barra_busqueda_input{
    flex: 1;
    padding: 8px;
    border: 1px solid black;
    border-right: none;
    border-radius: 4px 0 0 4px;
    width: 20rem;
}
.barra_busqueda_button{
    padding: 8px;
    border: 1px solid black;
    border-left: none;
    background-color: var(--color-terciario);
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
/* ------------------------------------------------------------------ */
/* CÓDIGOS ESPECÍFICOS DE CADA PÁGINA */

/* INICIO */
.titulo_inicio_bienvenido{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.parrafo_inicio_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Añadir espacio entre los elementos del section */
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: 1px solid black;
    border-radius: 1rem;
}
.parrafo_inicio_article{
    align-items: center;
    text-align: justify; /* Justificar el parrafo para que se vea mejor */
    margin-right: 2rem;
}
.parrafo_inicio_article h2{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.parrafo_inicio_article p{
    font-size: 1.3rem;
}
.titulo_confiar_en_nosotros{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.confiar_en_nosotros_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Poner espacio entre los elementos del section */
    margin-left: 2rem;
    margin-right: 2rem;
}
.confiar_en_nosotros_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: 1px solid black;
    border-radius: 1rem;
    transition: 0.5s ease;
}
.confiar_en_nosotros_article:hover{
    cursor: pointer;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    transform: translateY(-10px); /* Mueve 10px verticalmente hacia arriba el article */
}
.confiar_en_nosotros_article h3{
    margin-bottom: 0.5rem;
}
.titulo_noticias{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.noticias_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.imagen_noticia{
    transition: 0.5s all ease;
    width: 40rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 3px solid var(--color-principal);
    border-radius: 1rem
}
.imagen_noticia:hover{
    transition: 0.5s all ease;
    cursor: pointer;
    opacity: 0.8;
}
.noticias_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.noticias_article h4{
    font-size: 1.5rem;
}
.noticias_article p{
    font-size: 1.1rem;
    text-align: justify;
}
/* Animación */
/* Contenedor de la animacion, donde van a superponerse las imágenes */
.animacion_inicio_article{
    position: relative; /* Al contenedor de la animacion le ponemos position:relative */
    width: 200rem;
    height: 20rem;
    overflow: hidden; /* Elimina las partes de las imágenes que sobresalgan del borde, es decir, del límite del contenedor */
    border-radius: 1rem;
    box-shadow: 0 4px 10px; /* 1er valor indica desplazamiento horizontal (en este caso la sombra está centrada en el medio del eje horizontal del contenedor), 2o valor indica el desplazamiento vertical (en este caso la sombra va a sobresalir 4px debajo del elemento), 3er valor indica el difuminado de la sombra (contra más alto el valor, más difusa la sombra) */
}

/* Imágenes de la animacion */
.animacion_inicio_imagen{
    position: absolute; /* Ponemos position:absolute patra que las imágenes se posicionen en la esquina superior izquierda del contenedor de la animación */
    width: 100%; /* width y height al 100% para que ocupen al 100% el contenedor */
    height: 100%;
    object-fit: cover; /* La imagen ocupa el contenedor sin perder sus proporciones */
    opacity: 0;
    animation: cambiar_imagen 9s infinite; /* La animación va a durar 9s y va a repetirse infinitamente */
}
/* Decimos en cuanto tiempo va a aparecer la imagen en la animación, como la animación dura 9s, he puesto cada imagen 3s */
.animacion_inicio_imagen:nth-child(1){
    animation-delay: 0s;
}
.animacion_inicio_imagen:nth-child(2){
    animation-delay: 3s;
}
.animacion_inicio_imagen:nth-child(3){
    animation-delay: 6s;
}
/* Especificamos los frames de la animación */
@keyframes cambiar_imagen{
    0% {opacity: 0;}
    10% {opacity: 1;}
    30% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}

/* ------------------------------------------------------------------ */
/* CONTACTO */
.red_logo{
    width: 15rem;
    height: auto;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s all ease;
    opacity: 0.8;
}
.red_logo:hover{
    cursor: pointer;
    transition: 0.5s all ease;
    opacity: 1.5;
}
.redes_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.titulo_nuestras_redes{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.redes_article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes_article h3{
    padding: 1rem;
    background-color: #f9f9f9;
    color: var(--color-principal);
    border: solid 1px black;
    border-radius: 1rem;
}
.titulo_rellena_formulario{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.formulario{
    width: 100%;
    max-width: 25rem;
    margin: auto;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.formulario label{
    font-weight: bold; /* Pone la letra de los "label" en negrita */
}
.formulario input, .formulario select{
    width: 100%; /* El ancho va a ser el 100% del padre */
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}
.form_boton_enviar{
    background-color: #007BFF;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.form_boton_enviar:hover{
    background-color: #0056b3;
}
.titulo_preguntas_frecuentes{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.preguntas_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
.preguntas_article{
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #f9f9f9;
    color: var(--color-principal);
    border: solid 1px black;
    border-radius: 1rem;
    cursor: pointer;
}
.preguntas_article h4{
    font-size: 1.5rem;
}
.preguntas_article:hover{
    transition: all ease 0.5s;
    background-color: var(--color-principal);
    color: #f9f9f9;
}
/* ------------------------------------------------------------------ */
/* MARCAS */
.titulo_nuestras_marcas{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.marca_imagen{
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
}
.marca_imagen:hover{
    cursor: pointer;
    opacity: 0.8;
}
.marca_imagen_lamborguini{ /* Diferenciamos la imagen de lamborguini de las demás porque el borde es de un color diferente */
    width: 15rem;
    height: 15rem;
    border: 2px solid darkgoldenrod;
}
.marca_imagen_lamborguini:hover{
    opacity: 0.8;
}

.titulo_nuestra_marca_nº1{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.marca_titulo{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: solid 1px black;
    border-radius: 1rem;
}
.marcas_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
}
.marcas_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.marca_lamborguini_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marca_lamborguini_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 60rem; /* Para que el color del fondo no ocupe todo el ancho, ponemos un max-width */
    margin: auto; /* Centra el section horizontalmente */
    padding: 2rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 20px;
}
.marca_lamborguini_section p{
    font-size: 1.3rem;
    width: 30rem;
    text-align: justify;
}

.section_presentacion_lamborghini{
    padding: 3rem 1rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    text-align: center;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 55%;
    box-shadow: 0 4px 20px;
}
.titulo_presentacion_lamborghini{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.div_presentacion_lamborghini{
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.article_presentacion_lamborghini{
    background-color: #fff;
    color: #000;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
.article_presentacion_lamborghini:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.article_presentacion_lamborghini img{
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}
.article_presentacion_lamborghini h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.article_presentacion_lamborghini p{
    font-size: 1rem;
    line-height: 1.5;
}

/* ------------------------------------------------------------------ */
/* PRODUCTOS */
.imagen_producto{
    width: 25rem;
    height: auto;
    border: 3px solid black;
}
.imagen_producto_ferrari{ /* Diferencio la imagen del ferrari de las demás porque las proporciones son diferentes */
    width: 25rem;
    height: 14.1rem;
    border: 3px solid black;
}
.productos_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;
}
.productos_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.titulo_productos_disponibles{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.titulo_producto{
    font-size: 1.3rem;
}
.boton_producto{
    padding: 1rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: solid 1px black;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 19rem;
}
.boton_producto:hover{
    cursor: pointer;
    background-color: var(--color-terciario);
    color: var(--color-principal);
}
.div_producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.div_producto p{
    font-size: 1.2rem;
}

.titulo_solo_por_hoy{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* Animación */
/* Contenedor de la animacion, donde van a superponerse las imágenes */
.animacion_productos_div{
    position: relative; /* Al contenedor de la animacion le ponemos position:relative */
    width: 45rem;
    height: 25rem;
    overflow: hidden; /* Elimina las partes de las imágenes que sobresalgan del borde, es decir, del límite del contenedor */
    border-radius: 1rem;
    box-shadow: 0 4px 10px; /* 1er valor indica desplazamiento horizontal (en este caso la sombra está centrada en el medio del eje horizontal del contenedor), 2o valor indica el desplazamiento vertical (en este caso la sombra va a sobresalir 4px debajo del elemento), 3er valor indica el difuminado de la sombra (contra más alto el valor, más difusa la sombra) */
}
/* Imágenes de la animación */
.animacion_productos_imagen{
    position: absolute; /* Ponemos position:absolute para que las imágenes se posicionen en la esquina superior izquierda del contenedor de la animación */
    width: 100%; /* width y height al 100% para que ocupen al 100% el contenedor */
    height: 100%;
    object-fit: cover; /* La imagen ocupa el contenedor sin perder sus proporciones */
    opacity: 0;
    animation: cambiar_imagen 12s infinite; /* La animación va a durar 12s y va a repetirse infinitamente */
}
/* Decimos en cuanto tiempo va a aparecer la imagen en la animación, como la animación dura 12s, he puesto cada imagen 3s */
.animacion_productos_imagen:nth-child(1){
    animation-delay: 0s;
}
.animacion_productos_imagen:nth-child(2){
    animation-delay: 3s;
}
.animacion_productos_imagen:nth-child(3){
    animation-delay: 6s;
}
.animacion_productos_imagen:nth-child(4){
    animation-delay: 9s;
}
/* Especificamos los frames de la animación */
@keyframes cambiar_imagen{
    0% {opacity: 0;}
    10% {opacity: 1;}
    30% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}

.oferta_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: solid 1px black;
    border-radius: 1rem;
}
.oferta_article_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}
.oferta_article_1 p{
    font-size: 1.2rem;
    text-align: justify;
}
.imagen_oferta{
    width: 25rem;
    height: auto;
}
.oferta_article_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.oferta_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.oferta_div del{
    color: gray;
    font-style: italic;
}
.oferta_div_precio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oferta_div_precio p{
    font-size: 1.2rem;
}
.boton_producto_inverso{
    padding: 1rem;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    border: solid 1px black;
    border-radius: 1rem;
    cursor: pointer;
}
.boton_producto_inverso:hover {
    cursor: pointer;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}





/* ------------------------------------------------------------------ */
/* DUDAS PREGUNTAR */
/* en la pagina productos quiero anidar articles, pongo article o div? */
/* en el WC3 VALIDATOR me da warning cuando uso sections/articles sin titulos, me propone usar div, que hago? */




