/* --------------------------------------------------------------- */
/* COSAS GENERALES DE LA PÁGINA */
:root{ /* Declaramos variables de colores para el tema claro */
    /* Tema claro */
    --color-principal: #395b50; /* Color del fondo del header y footer y titulos, letras... */
    --color-secundario: #92afd7; /* Color del fondo del main */
    --color-terciario: #c5d1eb; /* Color de los enlaces del header y footer */
}
*{ /* Se aplica a la pagina entera */
    box-sizing: border-box; /* width y height incluyen el contenido, los bordes y los márgenes internos.
                            Los bordes y el relleno se restan del tamaño total que especifiques, no se suman. */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%; /* Asegura que el html y el body ocupen el alto de la ventana */
}
main {
    flex-grow: 1; /* Permite que el main ocupe el espacio disponible */
    padding-bottom: 3rem; /* Para solucionar el espacio entre el formulario y el footer */
}
a{
    text-decoration: none; /* Quitamos el estilo predeterminado de todos los links de la página */
    color: unset; /* Dejamos el color indefinido para definirlo después como queramos */
    transition: all ease 0.5s; /* Transición cuando se deja de posicionar el cursor encima del enlace */
}
a:hover{
    color: white;
    transition: all ease 0.5s; /* Transición cuando se posiciona el cursor encima del enlace */
    opacity: 1.4; /* Aumentamos la opacidad */
}

/* --------------------------------------------------------------- */
/* HEADER GENÉRICO */
header{
    width: 100%;
    background-color: #395b50;
    color: #c5d1eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}
header .logo{
    width: 3.5rem;
    height: 3.5rem;
}
.icono_perfil{
    width: 2rem;
    height: 2rem;
}
.icono_perfil:hover{
    cursor: pointer;
    opacity: 0.8;
}
.menu a{
    margin: 1.5rem; /* Añadir espacio entre enlaces del header */
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ------------------------------------------------------------------ */

/* FOOTER GENERICO */
footer{
    width: 100%;
    background-color: #395b50;
    color: #c5d1eb;
    display: flex;
    flex-direction: column; /* Para que al centrar el contenido se centren los elementos del footer en medio de la pantalla */
    justify-content: space-between;
    align-items: center;
}
footer ul{
    margin: 2.5rem; /* Le damos espacio a los enlaces y textos del footer alrededor de la página */
}
footer a{
    margin: 3rem;
}

/* ------------------------------------------------------------------ */
/* MAIN GENÉRICO */
main{
    width: 100%;
    background-color: #92afd7;
    color: #395b50;
}

/* ------------------------------------------------------------------ */
/* BARRA DE BÚSQUEDA (FORMULARIO) */
.barra_busqueda{
    display: flex;
}
.barra_busqueda_input{
    flex: 1;
    padding: 8px;
    border: 1px solid black;
    border-right: none;
    border-radius: 4px 0 0 4px;
    width: 20rem;
}
.barra_busqueda_button{
    padding: 8px;
    border: 1px solid black;
    border-left: none;
    background-color: #c5d1eb;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
/* ------------------------------------------------------------------ */
/* CÓDIGOS ESPECÍFICOS DE CADA PÁGINA */

/* INICIO */
.imagen_inicio_lambo{
    width: 47rem;
    height: auto; /* Para que el height se ajuste proporcionalmente al width */
    margin-bottom: 4rem;
    margin-left: 2rem;
    border: 3px solid #395b50;
}
.titulo_inicio_bienvenido{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.parrafo_inicio_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Añadir espacio entre los elementos del section */

}
.parrafo_inicio_article{
    align-items: center;
    text-align: justify; /* Justificar el parrafo para que se ve mejor */
    margin-right: 2rem;
}
.parrafo_inicio_article h2{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.parrafo_inicio_article p{
    font-size: 1.3rem;
}

.titulo_confiar_en_nosotros{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.confiar_en_nosotros_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Poner espacio entre los elementos del section */
    margin-left: 2rem;
    margin-right: 2rem;
}
.confiar_en_nosotros_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #395b50;
    color: #c5d1eb;
    border: 1px solid black;
    border-radius: 1rem;
}
.confiar_en_nosotros_article:hover{
    cursor: pointer;
    background-color: #c5d1eb;
    color: #395b50;
}
.confiar_en_nosotros_article h3{
    margin-bottom: 0.5rem;
}
.titulo_noticias{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.noticias_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.imagen_noticia{
    transition: 0.5s all ease;
    width: 40rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 3px solid #395b50;
}
.imagen_noticia:hover{
    transition: 0.5s all ease;
    cursor: pointer;
    opacity: 0.8;
}
.noticias_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.noticias_article h4{
    font-size: 1.5rem;
}
.noticias_article p{
    font-size: 1.1rem;
    text-align: justify;
}


/* ------------------------------------------------------------------ */
/* CONTACTO */
.red_logo{
    width: 15rem;
    height: auto;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s all ease;
    opacity: 0.8;
}
.red_logo:hover{
    cursor: pointer;
    transition: 0.5s all ease;
    opacity: 1.5;
}
.redes_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.titulo_nuestras_redes{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.redes_article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes_article h3{
    padding: 1rem;
    background-color: #f9f9f9;
    color: #395b50;
    border: solid 1px black;
    border-radius: 1rem;
}
.titulo_rellena_formulario{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.formulario{
    width: 100%;
    max-width: 25rem;
    margin: auto;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.formulario label{
    font-weight: bold; /* Pone la letra de los "label" en negrita */
}
.formulario input, .formulario select{
    width: 100%; /* El ancho va a ser el 100% del padre */
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}
.form_boton_enviar{
    background-color: #007BFF;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.form_boton_enviar:hover{
    background-color: #0056b3;
}
.titulo_preguntas_frecuentes{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.preguntas_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
.preguntas_article{
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #f9f9f9;
    color: #395b50;
    border: solid 1px black;
    border-radius: 1rem;
    cursor: pointer;
}
.preguntas_article h4{
    font-size: 1.5rem;
}
.preguntas_article:hover{
    transition: all ease 0.5s;
    background-color: #395b50;
    color: #f9f9f9;
}
/* ------------------------------------------------------------------ */
/* MARCAS */
.titulo_nuestras_marcas{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.marca_imagen{
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
}
.marca_imagen:hover{
    cursor: pointer;
    opacity: 0.8;
}
.marca_imagen_lamborguini{ /* Diferenciamos la imagen de lamborguini de las demás porque el borde es de un color diferente */
    width: 15rem;
    height: 15rem;
    border: 2px solid darkgoldenrod;
}
.marca_imagen_lamborguini:hover{
    opacity: 0.8;
}

.titulo_nuestra_marca_nº1{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.marca_titulo{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #395b50;
    color: #c5d1eb;
    border: solid 1px black;
    border-radius: 1rem;
}
.marcas_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
}
.marcas_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.marca_lamborguini_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marca_lamborguini_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}
.marca_lamborguini_section p{
    font-size: 1.3rem;
    width: 30rem;
    text-align: justify;
}
/* ------------------------------------------------------------------ */
/* PRODUCTOS */
.imagen_producto{
    width: 25rem;
    height: auto;
    border: 3px solid black;
}
.imagen_producto_ferrari{ /* Diferencio la imagen del ferrari de las demás porque las proporciones son diferentes */
    width: 25rem;
    height: 14.1rem;
    border: 3px solid black;
}
.productos_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;
}
.productos_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.titulo_productos_disponibles{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.titulo_producto{
    font-size: 1.3rem;
}
.boton_producto{
    padding: 1rem;
    background-color: #395b50;
    color: #c5d1eb;
    border: solid 1px black;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 19rem;
}
.boton_producto:hover{
    cursor: pointer;
    background-color: #c5d1eb;
    color: #395b50;
}
.div_producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.div_producto p{
    font-size: 1.2rem;
}
/* ------------------------------------------------------------------ */
/* DUDAS PREGUNTAR */
/* ------------------------------------------------------------------ */
/* en la pagina productos quierom anidar articles, pongo article o div? */